<style>
  div.blog-list-item {
    height: auto;
    min-height: 100px;
  }
</style>
<div ng-controller="MainCtrl as main">
  <div>
    <div class="col-sm-9">
      <h2>Blogs You Wrote</h2>
      <div ng-repeat="blog in main.blogs" class="row blog-list-item well">
        <div class="col-xs-12">
          <h4>{{blog.title}}</h4>
          <div>
            {{blog.description}}
          </div>
          <div>
            - <a href="#/aa">{{blog.author.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h2>Tags....</h2>
    </div>
  </div>
</div>
